#encoding: utf-8
require File.expand_path 'app/pages/google/google_search_result_page'

class GooglePage < <%= app_name.camelize%>Page
	page_url 'www.google.com.hk'
	
	text_field 'keyword', name: 'q'
	button 'search', name: 'btnK'

	def search_for kw
		self.keyword = kw
		self.keyword_element.send_keys :return
		turn_to GoogleSearchResultPage
	end

end
